.container-collections{
   display: flex;
   border-radius: 20px;
   text-align: center;
   flex-direction: column;
   flex-wrap: wrap;
   text-emphasis-color: white;
   padding-left: 200px;
   padding-right: 200px;
   padding-top: 30px;
   padding-bottom: 30px;
   margin: 50px;
   justify-content: center;
   background-color: rgb(205, 205, 205);
   background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);
   background-size: 200%;
   background-position: top;
   h1 {
      color: rgb(58, 77, 2);
      text-shadow: 1px 1px 1px rgba($color: #ececec, $alpha: 0.8);
   }
}

title{
   .abril-fatface-regular {
      font-family: "Abril Fatface", serif;
      font-weight: 400;
      font-style: normal;
    }
}
// h1 {
//    color: rgb(58, 77, 2);
//    text-shadow: 1px 1px 1px rgba($color: #ececec, $alpha: 0.8);

.special-font {
  font-family: "Abril Fatface", serif;
      font-weight: 400;
      font-style: normal;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: auto;
   justify-content: center;
   grid-gap: 4rem; /* Adjust spacing between cards */
   width: 1600px;
}

.cards-collections {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding: auto;
   justify-content: center;
   grid-gap: 4rem;
/* Adjust spacing between cards */
}

.card {
   display: flex;
   height: 300px;
   background-color: #fff;
   border-spacing: 30px;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   /* Add more styles as needed (e.g., text alignment, margins) */
   margin-left: 400px;
}

.card img {
   width: 100%; /* Adjust width as needed */
   height: 200px; /* Adjust height as needed */
   object-fit: cover;
  // margin-bottom: 1rem; /* Add spacing below image */
}


.card:hover{
   background-color: rgb(231, 231, 231);
   color: aliceblue;
   // opacity: 30%;
   transform: scale(1.05);
   transition: all 1s ease;
}

.card-collection {
  background-color: white;
  margin-bottom: 10px;
  width: 1200px;
  margin-left: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.card-collection:hover {
  background-color: rgb(231, 231, 231);
   // opacity: 30%;
   transform: scale(1.05);
   transition: all 1s ease;
}

.shoe-info-collections {
  margin-right: 200px;
}

.grey-color {
  color: grey;
}

.collection-shoe-p {
  font-size: 25px;
}

.create-btn {
  padding: 10px;
  font-size: 20px;
  background-color: rgb(43, 136, 43);
  color: yellow;
  width: 200px;
  border-radius: 5px;
  margin-left: 930px;
  font-weight: 800;
}

.create-btn:hover {
  background-color: green;
}
