// Specific CSS for your home-page
a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container-story{
   display: flex;
   border-radius: 20px;
   border-color: black;
   text-align: center;
   flex-wrap: wrap;
   text-emphasis-color: white;
   background-position: top;
padding-left: 100px;
padding-right: 100px;
   padding-top: 30px;

   padding-bottom: 30px;
   margin: 50px;
   justify-content: center;

   background-color: rgb(205, 205, 205);
   background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);
   p {
      color: rgb(58, 77, 2);
      text-shadow: 1px 1px 1px rgba($color: #ececec, $alpha: 0.8);
   }

}



.title{
   text-align: center;

   .abril-fatface-regular {
      font-family: "Abril Fatface", serif;
      font-weight: 400;
      font-style: normal;
    }


}

.card-container{
   border-color: black;
   box-shadow: 10px;
   background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);
   background-position: center;
   background-repeat: no-repeat;
   height: 550px;
   border-radius: 20px;
   border-bottom: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
   // padding: auto;
   // padding-left: 20px;
   // padding-right: 20px;
   // border: 20px;
   flex-wrap: wrap;
   background-color: rgb(205, 205, 205);
}

.card-home {
  display: flex;
  height: 450px;
  background-color: #fff;
  border-spacing: 30px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add more styles as needed (e.g., text alignment, margins) */
}

.card-home img {
  width: 100%; /* Adjust width as needed */
  height: 380px; /* Adjust height as needed */
  object-fit: cover;
 // margin-bottom: 1rem; /* Add spacing below image */
  margin-bottom: 13px;
  border-radius: 10px;
}


.card-home:hover{
  background-color: rgb(231, 231, 231);
  color: aliceblue;
  // opacity: 30%;
  transform: scale(1.05);
  transition: all 1s ease;
}

.home-btn {
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}

.banner {
  background-image: asset-url("gucci_shoes.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 3px 3px black;
}
