
.edit-btn, .create-shoes-btn, .create-order-btn, .review-btn {
   padding: 10px;
   border-radius: 5px;
   width: 100%;
   text-align: center;
   color: white;
   background-color: black;
   font-weight: bold;
   border: 2px solid rgba($color: grey, $alpha: 0.4);
}

.edit-btn:hover, .create-shoes-btn:hover, .create-order-btn:hover, .review-btn:hover {
   background-color: grey;
}

.edit-form {
  background-color: white;
  width: 1000px;
}
