.container-shoe-edit{
   display: flex;
   justify-content: top;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   height: calc(100vh - 40px);
   background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2022/04/copertina-1.jpg);

   h1 {
      color: rgb(58, 77, 2);
      text-shadow: 1px 1px 1px rgba($color: #ececec, $alpha: 0.8);
   }
}

.edit-btn {
   padding: 10px;
   border-radius: 5px;
   width: 100%;
   text-align: center;
   color: white;
   background-color: black;
   font-weight: bold;
   border: 2px solid rgba($color: grey, $alpha: 0.4);
}

.edit-btn:hover {
   background-color: grey;
}
