<div class="footer">
  <div class="social-icons">
    <p>Find us on:
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
    </p>
    <p>&copy; 2024 Kick Solution. All rights reserved.</p>
  </div>
</div>
