<div class="container-collections">
    <div class= "title">
  <h1 class="abril-fatface-regular">Welcome to our shoes marketplace, pick your favourite one here</h1>
     </div>

       <div class="cards">
  <ul>
            <% @shoes.each do |shoe| %>
    <li>
      <% if shoe.photos.first %>
        <span><%= cl_image_tag shoe.photos.first.key, height: 300, width: 400, crop: :fill %></span>
      <% end %>
      <%= link_to shoe.name, shoe_path(shoe) %>
    </li>
    <% end %>
  </ul>
   </div>
  <%= link_to "Do you have shoes for rent? Click here to create your post!", new_shoe_path %>

</div>
